@font-face {
    font-family: Poppins-Regular;
    src: url('../fonts/poppins/Poppins-Regular.ttf');
}

@font-face {
    font-family: Poppins-Medium;
    src: url('../fonts/poppins/Poppins-Medium.ttf');
}

@font-face {
    font-family: Poppins-Bold;
    src: url('../fonts/poppins/Poppins-Bold.ttf');
}

@font-face {
    font-family: Poppins-SemiBold;
    src: url('../fonts/poppins/Poppins-SemiBold.ttf');
}

body {
    background: #a64bf4;
    background: -webkit-linear-gradient(45deg, #00dbde, #fc00ff);
    background: -o-linear-gradient(45deg, #00dbde, #fc00ff);
    background: -moz-linear-gradient(45deg, #00dbde, #fc00ff);
    background: linear-gradient(45deg, #00dbde, #fc00ff);
}

.form-box {
    font-family: Poppins-Regular;
    background: white;
    border-radius: 14px;
    min-width: 310px;
    max-width: 50%;
    padding: 5px 20px 30px;
    margin: 100px auto;
}

input[type=text],
input[type=email],
input[type=number],
select,
textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0 15px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: Poppins-Regular
}

input[type=submit] {
    width: 100%;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background: #a64bf4;
    background: -webkit-linear-gradient(left, #fc00ff, #00dbde);
    background: -o-linear-gradient(left, #fc00ff, #00dbde);
    background: -moz-linear-gradient(left, #fc00ff, #00dbde);
    background: linear-gradient(left, #fc00ff, #00dbde);
    font-family: Poppins-Regular;
    font-weight: bold;
}

input[type=submit]:hover {
    background: #b05df8;
    background: -webkit-linear-gradient(left, #00dbde, #fc00ff);
    background: -o-linear-gradient(left, #00dbde, #fc00ff);
    background: -moz-linear-gradient(left, #00dbde, #fc00ff);
    background: linear-gradient(left, #00dbde, #fc00ff);
}

label {
    font-weight: bold;
}

.pas-foto {
    display: block;
    margin: 10px 0;
    width: 30%;
}